#bowser {
    height: auto;
    width: 25%;
    position: static;

}

#kong {

    width: 24%;
    text-align: center;

}

#kirby {
    width: 24%;
    text-align: center;

}

#link {
    width: 24%;
    text-align: center;
}

#mario {
    width: 24%;
    text-align: center;
}

#win {
    text-align: center;
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-size: 36px;
}

p {
    text-align: center;
    font-size: 36px;
}
#loss {
    text-align: center;
    font-size: 36px;
}

.h2 {
    text-align: center;
    color: red;
    font-size: 5px;
}

.characters {
    width: auto;
    height: auto;